{% extends 'base.html.twig' %}

{% block title %}Symfony Todo{% endblock %}

{% block body %}
<div class="jumbotron mt-3">
    <h1 class="display-4">Todo App</h1>
    <p class="lead">This is a simple todo application.</p>
    <hr class="my-4">
    <p>It uses Symfony 4 as a back-end framework.</p>
    <a class="btn btn-primary btn-lg" href="{{ path('app_index') }}" role="button">Try App</a>
</div>
{% endblock %}
